.gallery__item {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

.tabledetail {
  background: LavenderBlush;
  caption-side:     bottom;
  border-collapse:  collapse;
  color: black;
  font-size:          4em;
}

.pressed{
    color: blue;
}

td {
    width: 100%;
  border: 10px solid white;
  text-align:       left;
}

.desr { vertical-align: top; }
.menu {background: white; font-size: 0.5em;}

h1, h2 {
    text-align: center;
}

.container {
  width: 60%;
  margin: 2rem auto;
}

.image{
  width: 100%;
  margin: 2rem auto;
}

.form {
  text-align: center;
}

nav{
  text-align: center;
}

nav ul{
  display: inline-block;
}

.page{
  text-align:center;
  margin:0 auto;
}

.tableitem{
  width: 100%;
  height: 100%;
    object-fit: cover;
  display: block;
}

.user{
  text-align: right;
  width: 100%;
  height: 20%;
}

.description{
  text-align: left;
  width: 100%;
  height: 20%;
}

.count_likes {display:inline-block;}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(2, 25vw);
  grid-gap: 0.5rem;
}

.grid-item {
    margin:0;
    padding:0;
    }

.gallery__img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__description{
  width: 100%;
  height: 20%;
  object-fit: cover;
  display: block;
}

.gallery__user{
  width: 100%;
  height: 8%;
  text-align: center;
  object-fit: cover;
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.p, b{
  width: 100%;
  height: 100%;
    object-fit: cover;
  display: block;
}