{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'vk/css/style.css' %}">
    <title>{% block title %}VK OAUTH {% endblock %}</title>
  </head>
  <body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
        {% if user.is_authenticated %}
            <nav>
              {{user}} | <a href="{% url 'account:logout' %}">Выход</a>
            </nav>
        {% else %}
            <nav>
              <a href="{% url 'account:login' %}"> Вход</a> |
              <a href="{% url 'account:registration' %}"> Регистрация</a>
            </nav>
        {% endif %}
    <section>
    {% block content %}
    {% endblock %}
    </section>
  </body>
</html>