{% extends "vk/basic.html" %}
{% block content %}
    {% if friends_list %}
    <div class="container">
      <div class="gallery">
        {% for image, name in friends_list  %}
           <figure class='gallery__item' >
            <div class="card">
                  <div class="gallery__user">
                  <b>{{name}}</b>
                </div>
                <div class="gallery__img">
                </div>
            </div>
           </figure>
        {% endfor %}
          </div>
    </div>
    {% else %}
  <p>No friends are available.</p>
  {% endif %}
{% endblock %}
